@import 'constants/colors';

.form-textarea {
  display: flex;
  flex-direction: column;
  label {
    color: $pink;
  }
  textarea {
    resize: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px $white-border;
    min-height: 9rem;
  }
  p {
    margin: 0 0.5rem;
    height: 2rem;
  }
}

.textarea-margin-bottom {
  margin-bottom: 2rem;
}