@import 'constants/colors';

.header-container {
  display: block;
  .button-container {
    height: 4.5rem;
    background-color: $purple;
    .open-nav-button {
      z-index: 2;
      position: absolute;
      background: transparent;
      border: none;
      margin: 1rem;
    }
  }
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $purple;
    overflow-x: hidden;
    transition: 0.25s;
    a {
      padding: 1rem 2.5rem;
      text-decoration: none;
      font-size: 20px;
      color: $white;
      white-space: nowrap;
      display: block;
      &:first-child {
        margin-top: 4rem;
      }
      &:hover {
        color: $pink;
      }
    }
  }
  .side-nav-open {
    width: 70%;
    box-shadow: 0 0 0 1000rem $black-opacity;
  }
  .hidden {
    display: none;
  }
}