$black: #000000;
$black-opacity: rgba(0, 0, 0, .50);

$grey: #d7d4d9;
$grey-light: #f0eef2;
$grey-dark: #a4a2a6;

$pink: #ef4b74;
$pink-light: #ff6f93;
$pink-border: #bf3b5c;

$purple: #4d1ba8;

$white: #ffffff;
$white-border: #d1cbd9;