@import 'constants/colors';

.menu-button {
  &:not(:last-child) {
    margin-right: 1rem;
  }
  button {
    border: none;
    outline: none;
    color: $white;
    font-size: 20px;
    white-space: nowrap;
    background-color: $purple;
    cursor: pointer;
    &:hover {
      color: $pink;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 0.5rem;
    &::after {
      position: absolute;
      top: 0;
      left: 1rem;
      content: '';
      transform: translateX(-50%);
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid $pink;
    }
    a {
      color: $black;
      background-color: $pink;
      padding: 0.5rem 1rem;
      width: 10rem;
      text-decoration: none;
      display: block;
      &:hover {
        color: $white;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $pink-border;
      }
      &:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
      &:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
}
.dropdown:hover .dropdown-content { display: block; }