@import 'constants/colors';
@import 'constants/sizes';

.additional-paragraph {
  display: flex;
  padding: 0.5rem 10rem;
  margin-bottom: 2rem;
  background: radial-gradient(circle farthest-side, $grey 40%, $grey-light 80%);
  .column {
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: $tablet-size) {
  .additional-paragraph {
    flex-direction: column;
    margin: 0 5% 2rem;
    padding: 0;
    background: none;
    .column {
        padding: 0;
    }
  }
}