@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Quantico-Regular.ttf');
}
@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/Quantico-Bold.ttf');
}
@font-face {
  font-family: 'Quantico';
  font-style: italic;
  font-weight: normal;
  src: url('./assets/fonts/Quantico-Italic.ttf');
}
@font-face {
  font-family: 'Quantico';
  font-style: italic;
  font-weight: bold;
  src: url('./assets/fonts/Quantico-BoldItalic.ttf');
}

html {
  font-size: 12px;
  background-color: #f0eef2;
}

body {
  margin: 0;
  font-family: 'Quantico', Fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: 'Quantico', Fallback, sans-serif;
  &::placeholder {
    font-family: 'Quantico', Fallback, sans-serif;
  }
}

textarea {
  font-family: 'Quantico', Fallback, sans-serif;
  &::placeholder {
    font-family: 'Quantico', Fallback, sans-serif;
  }
}

button {
  font-family: 'Quantico', Fallback, sans-serif;
}


