@import 'constants/colors';

.header-container {
    background-color: $purple;
    position: fixed;
    top: 0;
    width: 100%;
    .header-content {
      display: flex;
      margin: 1rem 10rem;
      .logo {
        width: 15rem;
      }
      .header-buttons {
        display: flex;
        margin-left: auto;
        margin-top: auto;
      }
    }
  }